.container {
  padding: 0rem 2rem;
  background-color: lightgrey;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  background-color: #fff
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 1.5rem 0;
}

.icon {
  width: 25px;
  padding: 0;
  margin: 10px 8px;
}

@media only screen and (max-device-width : 640px) {
  .container {
    padding: 1.2rem 1rem;
    margin: 12px;
  }
  .list p{
    font-size: 25px;
  }
}

@media only screen and (max-device-width: 768px) {
  .container {
    padding: 1.2rem 1rem;
    margin: 12px;
  }
  .list p{
    font-size: 25px;
  }
}
