html,
body {
  padding: 0;
  margin: 0;
  font-family: Akkurat Std,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: #ededed;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.rec-dot.rec{
  background-color: #fff;
}

.rec-dot.rec:focus {
  background-color: #ccc;
  box-shadow: 0 0 1px 3px #ccc;
}
.rec-dot.rec:hover {
  background-color: #ccc;
  box-shadow: 0 0 1px 3px #ccc;
}

@media only screen and (max-device-width : 640px) {
  .rec-arrow.rec {
    display: none;
  }
}

@media only screen and (max-device-width: 768px) {
  .rec-arrow.rec {
    display: none;
  }
}
